<h1>Listings</h1>

<table>
  <thead>
    <tr>
    <th>Listing Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Breed Id</th>
      <th>Sex</th>
      <th>Price</th>
      <th>Deposit</th>
      <th>City</th>
      <th>State</th>
      <th>Date of Birth</th>
      <th>Diet</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @listings.each do | listing | %>
      <tr>
        <td><%= listing.id %></td>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= listing.breed_id %></td>
        <td><%= listing.sex %></td>
        <td><%= listing.price %></td>
        <td><%= listing.deposit %></td>
        <td><%= listing.city %></td>
        <td><%= listing.state %></td>
        <td><%= listing.date_of_birth %></td>
        <td><%= listing.diet %></td>

       <% if current_user.id == listing.user_id %>
       <td><%= link_to "View", listing_path( listing ) %></td>
        <td><%= link_to 'Edit', edit_listing_path( listing )%></td>
        <td><%= link_to 'Destroy', listing_path( listing ), method: :delete, data: { confirm: 'Are you sure you want to delete this, Punk?' } %></td>
        <% end %>
      </tr>
      <%end%>
  </tbody>
</table>
<br>

<%= link_to 'Listings', listings_path %>
<%= link_to 'Add New Listing', new_listing_path %>
<%= link_to 'Breeds', breeds_path %>
<%= link_to 'Add New Breed', new_breed_path %>
<%= link_to 'Home', root_path %>