<h1>New Listing</h1>

<%= render 'form', listing: @listing%>

<%= link_to 'Listings', listings_path %>
<%= link_to 'Add New Listing', new_listing_path %>
<%= link_to 'Breeds', breeds_path %>
<%= link_to 'Add New Breed', new_breed_path %>
<%= link_to 'Home', root_path %>