<%= form_with(model: breed, local: true) do |form| %>

<% if @breed.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@breed.errors.count, "Error") %> prohibited this form from being saved:</h2>
 
    <ul>
    <% @breed.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
    <% end %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name, :required => true, :autofocus => true, :placeholder => "What is the breed?", :pattern => "[^0-9]*"%>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>

<%= link_to 'Listings', listings_path %>
<%= link_to 'Add New Listing', new_listing_path %>
<%= link_to 'Breeds', breeds_path %>
<%= link_to 'Home', root_path %>