<h1>This is the home page</h1>

<div class="hero"></div>

<p>
Find your dream snake
</p>

<%= link_to 'Listings', listings_path %>
<%= link_to 'Add New Listing', new_listing_path %>
<%= link_to 'Breeds', breeds_path %>
<%= link_to 'Add New Breed', new_breed_path %>
<%= link_to 'Home', root_path %>